@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins';
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #299AC7;
    border-bottom: #FFFFFF solid 1px;
    a { 
        color: #FFFFFF;
    }
        a .btn {
            background-color: #011F26;
            padding: 16px 24px;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        font-size: 22px;
        font-weight: 700;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}
.social-header, .hero-design {
    display: none;
}

.hero {
    background: #299AC7;
    color: #FFFFFF;
    display: grid;
    text-align: center;
    padding: 4em;
}

.bencraib {
    // display: flex;
    width: 200px;
    justify-content: center;
    border-radius: 50%;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: 700;
    color: #FFFFFF;
    justify-content: center;

    span {
        padding: 2em;
        justify-content: center;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.subtitle {
    font-weight: 700;
    color: #011F26;
    font-size: 2em;
}

.featured-desc {
    color: #424242;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}
.featured-title {
    color: #FFFFFF;
    background: #299AC7;
    font-weight: 500;
    font-size: 1.3em;
    padding: 16px 24px;
    margin: 0 auto;
    margin-bottom: 1.5em;
    text-align: center;
    display: block;
    width: 150px;
    border-radius: 50px;
}

.right-transition2 {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 800px) {

    .featured, .portfolio {
        text-align: left;
    }
    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }
    .featured-title {
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1250px) {

    .h1div {
        display: flex;
        justify-content: center;

        h1 {
            display: flex;
            margin: 0 auto;
        }
    }

    .hero {
        display: flex;
        height: 90vh;
    }

    // .nav-container {
    //     display: grid;
    //     // grid-template-columns: 82% auto;
    //     background: unset;

    //     header {
    //         background: #299AC7;
    //     }
    }

    header {
        padding: 2em 2em 2em 4em;
    }
    // .social-header {
    //     padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }

    // .social-header {
    //     display: block;
    //     ul {
    //         display: flex;
    //         justify-content: space-between;
    //         width: 7em;
    //         float: right;

    //         img {
    //             width: 20px;
    //         }
    //     }
    // }

    .hero {
        display: flex;
        grid-template-columns: 50% 50%;
        padding: 0%;


        p, h2 {
            text-align: left;
        }

        .content{
            padding: 6em 8em 6em 4em;

            h1 {
                font-size: 3em;
                line-height: 1.4em;
            }
        }
    }

    .meetright {
        display: flex;
        flex-direction: column;
        padding: 0%;
        width: 550px;

        p, h2 {
            text-align: left;

            }
    }
    .featured-title {
        align-items: flex-start;
    }
}
